#add_service_title{
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0 10;
}
.add_service_area{
    background-color:#141312;
    padding: 20px;
}
.add_service_content{
    
    display: flex;
    justify-content: center;
}
.input_field{
    width: 50%;
    
}
.input_field input, textarea{
    width: 100%;
    padding: 8px;
    background-color: rgb(194, 182, 182);
    display: block;
    border-radius: 4px;
    margin-bottom: 10px;
}